.hero {
	position: relative;
    background-color: black;
    color: white;
    height: calc(100vh - 5rem);
    display: grid;
    gap: 0.75rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
	object-fit: contain;
	background:
	    linear-gradient(
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.7)
        ),
	    url("/static/images/bg.jpg");
}

.hero h1 {
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    grid-column: 2 / 10;
    grid-row: 3 / 4;
	z-index: 3;
}

.hero h2 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    grid-column: 2 / 8;
    grid-row: 4 / 5;
	z-index: 3;
}

.hero .hero__learn-more {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
	z-index: 3;
}

.hero .hero__learn-more button {
    font-size: 1.25rem;
    width: 100%;
    height: 100%;
	padding: 0.5rem;
    background-color: hsl(2, 77%, 66%);
    border: none;
    border-radius: 5px;
    color: white;

	transition: background-color 100ms ease-in;
}

.hero .hero__learn-more button:hover {
	cursor: pointer;
	background-color: hsl(0, 0%, 55%);
}


@media (max-width: 1572px) {
	.hero .hero__learn-more {
		grid-column: 2 / 4;
	}

}

@media (max-width: 800px) {
	.hero .hero__learn-more {
		grid-column: 2 / 5;
	}

	.hero .hero__learn-more button {
		padding: 1rem;
	}
}