body {
	background-color: black;
}

main {
    position: absolute;
    padding-top: 2rem;
	height: calc(100vh - 5rem);
	width: 100%;
    object-fit: contain;
    background:
        linear-gradient(
              rgba(0, 0, 0, 0.7),
              rgba(0, 0, 0, 0.7)
        ),
        url("/static/images/bg.jpg");
}

.problem {
    width: clamp(20rem, 70%, 64rem);
    margin: 0 auto;
    color: white;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.content--left {
    width: auto;
}

.problem h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}

.problem hr {
    border: none;
    height: 0.8px;
    background-color: white;
}

.problem__content {
    white-space: pre-wrap;
}

.problem p {
    font-size: 1.125rem;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
}

.content--right {
    flex: 0 0 12em;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.submit-button {
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: hsl(2, 77%, 66%);
	transition: background-color 100ms ease-in;
	text-decoration: none;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    border-radius: 4px;
}

.submit-button:hover {
	cursor: pointer;
	background-color: hsl(0, 0%, 55%);
}

.problem__info {
    font-size: 1.125rem;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.problem__info > div {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.problem__info > div > span:nth-of-type(1) {
    font-weight: bold;
}