body {
	min-height: 100vh;
	background-color: black;
}

.judge {
	width: clamp(20rem, 60%, 64rem);
	margin: 2rem auto;
}

.judge .title {
	color: white;
}

.judge .title h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.5rem;
}

.judge .title span {
	font-weight: bold;
}

.judge button[type="submit"] {
    unset: all;
    padding: 0.5rem;
    background-color: hsl(2, 77%, 66%);
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 5px;
    color: white;

	transition: background-color 100ms ease-in;
}

.judge button[type="submit"]:hover {
	cursor: pointer;
	background-color: hsl(0, 0%, 55%);
}

#code-editor {
    font-family: "Consolas", monospaced;
    text-align: left;
    background-color: #222222;
    border-radius: 10px;
    width: auto;
    min-height: 75vh;
    font-size: 1rem;
}

.code-submit {
    display: none;
}